@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 36 30% 97%;
    --foreground: 30 10% 15%;

    --card: 36 30% 97%;
    --card-foreground: 30 10% 15%;

    --popover: 36 30% 97%;
    --popover-foreground: 30 10% 15%;

    --primary: 30 10% 15%;
    --primary-foreground: 36 30% 97%;

    --secondary: 36 10% 90%;
    --secondary-foreground: 30 10% 15%;

    --muted: 36 10% 90%;
    --muted-foreground: 30 5% 45%;

    --accent: 16 60% 59%;
    --accent-foreground: 36 30% 97%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 36 30% 97%;

    --border: 30 10% 85%;
    --input: 30 10% 85%;
    --ring: 30 10% 15%;

    --radius: 0rem;
  }

  .dark {
    --background: 30 15% 10%;
    --foreground: 36 30% 95%;

    --card: 30 15% 12%;
    --card-foreground: 36 30% 95%;

    --popover: 30 15% 10%;
    --popover-foreground: 36 30% 95%;

    --primary: 36 30% 95%;
    --primary-foreground: 30 15% 10%;

    --secondary: 30 10% 20%;
    --secondary-foreground: 36 30% 95%;

    --muted: 30 10% 20%;
    --muted-foreground: 36 10% 65%;

    --accent: 16 60% 59%;
    --accent-foreground: 36 30% 95%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 36 30% 95%;

    --border: 30 10% 25%;
    --input: 30 10% 25%;
    --ring: 36 30% 95%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}